@import '../../index.scss';

html,
body,
#react-root {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
    padding: 15px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 15px 0;
    border: 2px solid #e01616;
    background-color: #efefef;
    border-radius: 3px;
    color: #e01616;
    font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    padding: 25px;
    margin: 0 auto 20px;
    background-color: #efefef;
    border-radius: 3px;
    // box-shadow: 0 1px 2px rgb(0, 0, 0);
    label {
        display: inline-block;
        width: 80px;
    }
    h2 {
        margin-top: 0;
    }
}

input {
    margin: 5px;
    margin-bottom: 10px;
}


/* ------------------------------------------------------------- */
.center {
    text-align: center;
}
main {
    margin: 20px;
}

.disabledBtn {
    opacity: .6;
    cursor: not-allowed;
}

.wordButton {
    background-color: $secondary;
    color: $third;
    font-size: .8em;
    padding: 5px;
    margin: 4px;
    border-radius: 6px;
}

.heartButton {
    font-size: .8em;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}

.heart {
    margin: auto;
    font-size: 20px;
}

li {
    list-style-type: none;
}

.attrList {
    padding-bottom: 5px;
    border-bottom: 1px solid black;    
}

.attrList:last-child {
    padding-bottom: 5px;
    border-bottom: none;    
}

.logList {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.logList:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.savedVisitsList {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.savedVisitsList:last-child {
    padding-bottom: 10px;
    border-bottom: none;
}

ul {
    padding: 0;
}

#visitDate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    font-size: 14px;
}

.warningButton {
    background-color: $primary;
    color: $secondary;
    font-size: .8em;
    padding: 5px;
    margin: 4px;
    border-radius: 6px;
}

.parkLink {
    text-decoration: none;
}

#notesBox {
    display: block;
    width: 90%;
    height: 80px;
    margin: 10px auto;
}

.saveNotesButton {
    display: block;
    margin: 10px auto;
}