// hub for css
// so far, this is only saving the four colors that are used throughout the app

$primary: orange;
$secondary: rgb(79, 17, 121);
$third: white;
$fourth: rgb(0, 140, 255);
$fifth: lightgray;