// nav.scss file for Solo Project App for Prime Academy
// created by Adam Boerhave, November 2020
// contains styles used for navigation section

// import the index.scss file with color variables used
@import '../../index.scss';

// style for main title
.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: $secondary;
    position: relative;
}

// if the user is logged in, the height includes all links
.navOn {
    background-color: $primary;
    overflow: hidden;
    position: relative;
    height: 120px;
}

// if the user is logged out, there is no nav bar and they only see the title,
// because the login is on the middle of the screen
.navOff {
    background-color: $primary;
    overflow: hidden;
    position: relative;
    height: 75px;
}

// style for navigation links
.nav-link {
    color: $secondary;
    background-color: $primary;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    padding: 2px 18.5px;
    font-family: fantasy;

    /* these last two make the logout button in
    the nav bar look like another link */
    border: none;
    outline: 0;
}



