.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: block;
    color: rgb(122, 14, 172);
    position: relative;
    top: 25px;
}

.nav {
    background-color: #fc8c0c;
    overflow: hidden;
    position: relative;
    height: 120px;
}

.nav-link {
    color: rgb(122, 14, 172);
    background-color: #fc8c0c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;

    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
}



.nav-link-right {
    /* float: right; */
    color: rgb(122, 14, 172);
    background-color: #fc8c0c;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;

    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
}



.top-left {
    position: absolute;
    top: 13px;
    left: 4px;
}

.top-right {
    position: absolute;
    top: 13px;
    right: 4px;
}